h1 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px whitesmoke;
}
h4 {
  color: black;
  text-align: right;
}
p {
  color: darkgreen;
  text-align: center;
  font-size: 25px;
  position: relative;
}
html {
  font-size: 25px;
}
body {
  background-color: whitesmoke;
  opacity: 1;
}
div {
  border: 2px solid transparent;
  position: relative;
}
button {
  background-color: green;
  border: 1px solid darkgreen;
  color: black;
  padding: 20px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
  width: 10em;
  height: 3em;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  left: 50%;
}
.buttonBlock {
  align-items: center;
  position: relative;
  width: 100%;
  right: 125px;
}
.text {
  text-align: left;
  position: relative;
  font-size: 25px;
}
#score {
  height: 60px;
  text-align: center;
}
.result {
  font-size: 40px;
  color: red;
  text-align: center;
  position: relative;
  display: none;
  width: 100%;
  height: 60px;
}
span {
  color: black;
  size: auto;
  opacity: 1;
}
.containers {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  background-color: transparent;
}
.cards {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
}
.card {
  size: 50%;
  position: relative;
  display: inline-block;
  width: 160px;
  height: 220px;
  font: 16px 'Trebuchet MS';
  margin: 10px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
.card:before,
.card:after {
  content: attr(value);
  position: absolute;
  width: 12px;
  text-align: center;
  letter-spacing: -2px;
}
.card:before {
  top: 4px;
  left: 4px;
}
.card:after {
  bottom: 4px;
  right: 4px;
  transform: rotate(180deg);
}
.card--heart {
  color: #e44145;
}
.card--heart:before,
.card--heart:after {
  content: attr(value) " \2665";
}
.card--spade {
  color: #252525;
}
.card--spade:before,
.card--spade:after {
  content: attr(value) ' \2660';
}
.card--diamond {
  color: #e44145;
}
.card--diamond:before,
.card--diamond:after {
  content: attr(value) ' \2666';
}
.card--club {
  color: #252525;
}
.card--club:before,
.card--club:after {
  content: attr(value) ' \2663';
}
.card__inner {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
}
.card__inner--centered {
  justify-content: center;
}
.card__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__column--centered {
  justify-content: center;
}
.card__symbol {
  display: inline-block;
  height: 28px;
  text-align: center;
}
.card__symbol:before {
  font-size: 28px;
  line-height: 28px;
}
.card--heart .card__symbol:before {
  content: "\2665";
}
.card--spade .card__symbol:before {
  content: "\2660";
}
.card--club .card__symbol:before {
  content: "\2663";
}
.card--diamond .card__symbol:before {
  content: "\2666";
}
.card__symbol--rotated,
.card__symbol:last-of-type {
  transform: rotate(180deg);
}
.card__symbol:first-of-type {
  transform: rotate(0);
}
.card__symbol--big {
  flex-basis: 55px;
}
.card__symbol--huge {
  flex-basis: 99px;
}
